<div class="mld-grid mdl-typography--text-center">
  <div class="mdl-cell-row">
    <h2 class="mdl-cell mdl-cell--12-desktop"> <%= t :sign_in_title %> </h2>
    <hr>
  </div>
</div>

<div class="metade esquerda mdl-typography--text-center">
  <%= image_tag 'cofrinho.jpg' %>
  <h3> <%= t :cute %> <br> <%= t :cute1 %> </h3>
</div>

<div class="metade direita mdl-typography--text-center coin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label (t :mail), class: 'mdl-textfield__label' %>
        <strong> <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input campi' %> </strong>
      </div><br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label (t :passwd), class: 'mdl-textfield__label' %>
        <strong style="font-size: xx-large;color: darkgoldenrod"> <%= f.password_field :password, autocomplete: "off", class: 'mdl-textfield__input', pattern: '[\d|\w]{6}[\d|\w]*' %> </strong>
      </div><br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label (t :cpasswd), class: 'mdl-textfield__label' %>
        <strong style="font-size: xx-large"> <%= f.password_field :password_confirmation, autocomplete: "off", class: 'mdl-textfield__input' %> </strong>
      </div><br>

      <div class="mdl-grid" style="left: 50%">
        <div class="mdl-cell-row">
          <%= f.submit (t :sign_in_title), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect', style: 'background-color: #800000; color: white' %>
          <%= render "devise/shared/links" %>
        </div>
      </div>

  <% end %>
</div>
