<%= form_for(move) do |f| %>
  <% if move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
      <% move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <strong><%= f.text_field :name, class: 'mdl-textfield__input' %></strong>
    <%= f.label :name, class: 'mdl-textfield__label' %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo, ["Dinheiro", "Cartão", "Poupança"] %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <strong><%= f.text_field :value, class: 'mdl-textfield__input' %></strong>
    <%= f.label :value, class: 'mdl-textfield__label' %>
  </div>

  <div class="field">
    <%= f.label :sentido %>
    <%= f.select :sentido, ["entrada", "saida"] %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <strong><%= f.text_area :descricao, class: 'mdl-textfield__input' %></strong>
    <%= f.label :descricao, class: 'mdl-textfield__label' %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, readonly: true, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit (t :adicionar), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect', style: 'background-color: darkgoldenrod; color: white' %>
  </div>
<% end %>
