<div class="mdl-typography--text-center">
  <h1> <%= t :title %> </h1>
  <h4> <%= t :p1 %> <br> <%= t :p2 %> </h4>
  <hr>
</div>

<div class="em_linha">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 35%; left: 10%">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"> <%= t :money %> </th>
    <th style="text-align: center"> <%= t :entrada %> </th>
    <th style="text-align: center"> <%= t :saida %> </th>
    <th class="mdl-data-table__cell--non-numeric" style="text-align: center"> Data </th>
    <th class="mdl-data-table__cell--non-numeric"></th>
  </tr>
  </thead>

  <tbody>
  <%=	render @money %>
  <tr style="font-weight: bolder">
    <td> Total </td>
    <td class="entrada"> <%= number_to_currency totale("Dinheiro", current_user.id, "entrada")%></td>
    <td class="despesa"> <%= number_to_currency totale("Dinheiro", current_user.id, "saida")%></td>
    <td></td>
    <% net = totale("Dinheiro", current_user.id, "entrada") - totale("Dinheiro", current_user.id, "saida") %>
    <% if net >= 0 %>
        <td class="entrada"> <%= number_to_currency net %> </td>
    <% else %>
        <td class="deficit"> <%= number_to_currency net %> </td>
    <% end %>
  </tr>
  </tbody>
</table>

  <br>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 35%; left: 10%">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"> <%= t :card %> </th>
    <th style="text-align: center"> <%= t :entrada %> </th>
    <th style="text-align: center"> <%= t :saida %> </th>
    <th class="mdl-data-table__cell--non-numeric" style="text-align: center"> Data </th>
    <th class="mdl-data-table__cell--non-numeric"></th>
  </tr>

  </thead>

  <tbody>
  <%=	render @card %>
  <tr style="font-weight: bolder">
    <td> Total </td>
    <td class="entrada"> <%= number_to_currency totale("Cartão", current_user.id, "entrada")%></td>
    <td class="despesa"> <%= number_to_currency totale("Cartão", current_user.id, "saida")%></td>
    <td></td>
    <% net = totale("Cartão", current_user.id, "entrada") - totale("Cartão", current_user.id, "saida") %>
    <% if net >= 0 %>
        <td class="entrada"> <%= number_to_currency net %> </td>
    <% else %>
        <td class="deficit"> <%= number_to_currency net %> </td>
    <% end %>
  </tr>
  </tbody>
</table>

<br>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 35%; left: 10%">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"> <%= I18n.t :poup %> </th>
    <th style="text-align: center"> <%= t :entrada %> </th>
    <th style="text-align: center"> <%= t :saida %> </th>
    <th class="mdl-data-table__cell--non-numeric" style="text-align: center"> Data </th>
    <th class="mdl-data-table__cell--non-numeric"></th>
  </tr>
  </thead>

  <tbody>
  <%=	render @poup %>
  <tr style="font-weight: bolder">
    <td> Total </td>
    <td class="entrada"> <%= number_to_currency totale("Poupança", current_user.id, "entrada")%></td>
    <td class="despesa"> <%= number_to_currency totale("Poupança", current_user.id, "saida")%></td>
    <td></td>
    <% net = totale("Poupança", current_user.id, "entrada") - totale("Poupança", current_user.id, "saida") %>
    <% if net >= 0 %>
        <td class="entrada"> <%= number_to_currency net %> </td>
    <% else %>
        <td class="deficit"> <%= number_to_currency net %> </td>
    <% end %>
  </tr>
  </tbody>
</table>
</div>

<%= link_to 'New Move', new_move_path %>
